* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgba(176, 181, 181, 0.2);
}
.container {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
}
.main-header {
  padding: 15px 15px;
  background: #10395F;
  background-image: linear-gradient(-180deg, #193F63 0%, #10395F 100%);
}
.main-header__wrapper {
  display: flex;
  justify-content: flex-end;
}
.social {
  display: flex;
}
.social .social-text {
  margin: 0;
  margin-right: 15px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: -0.35px;
  text-align: right;
}
.social .social-link {
  margin-right: 15px;
}
.social .social-link .fab {
  font-size: 18px;
  color: #ffffff;
}
.help {
  border-right: rgba(255, 255, 255, 0.2) solid 1px;
  border-left: rgba(255, 255, 255, 0.2) solid 1px;
  padding: 0px 20px;
  margin-right: 24px;
}
.help .help-link {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.user-choice span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (max-width: 860px) {
  .main-header {
    display: none;
  }
}
/*-------------------------------------
NAVIGATION BLOCK
--------------------------------------- */
.main-nav__wrapper {
  display: flex;
  align-items: center;
}
.mobile-menu {
  display: none;
}
.main-nav {
  padding: 20px 10px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.logo {
  min-width: 122px;
}
.logo img {
  vertical-align: middle;
}
.navigation {
  display: flex;
  margin: 0;
}
.navigation .navigation__item {
  margin-right: 30px;
  list-style: none;
}
.navigation .navigation__item a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.menu-bars {
  display: none;
}
.mobile-nav {
  display: none;
}
.nav-dropdown {
  margin: 0;
  list-style: none;
  padding: 0;
  margin-right: 30px;
  margin-left: auto;
}
.nav-dropdown .fa-cubes {
  font-size: 24px;
  color: #10395F;
  vertical-align: middle;
}
.nav-dropdown .nav-dropdown__link {
  font-size: 14px;
  font-weight: 700;
}
.nav-dropdown .dropdown__arrow i {
  font-size: 12px;
}
.nav-dropdown li {
  list-style: none;
  position: relative;
}
.nav-dropdown a {
  text-decoration: none;
  color: #000000;
}
.nav-dropdown .nav-dropdown__sub {
  position: absolute;
  left: 0px;
  max-width: 120px;
  top: 30px;
  display: none;
  padding: 5px 20px;
  background: #ffffff;
}
.logout {
  text-decoration: none;
  color: #ffffff;
  background-color: #01BC7E;
  padding: 8px 12px 8px 10px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
}
.logout span {
  text-transform: uppercase;
  margin-right: 6px;
}
.mobile-nav.active {
  display: block;
}
@media screen and (max-width: 860px) {
  .main-nav {
    padding: 15px 15px;
    position: relative;
    z-index: 1;
  }
  .main-nav .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .main-nav .menu-bars {
    display: block;
    font-size: 20px;
  }
  .main-nav .menu-bars .menu-bars__link {
    color: #123A60;
  }
  .main-nav .logo {
    min-width: auto;
    margin: 0 auto;
  }
  .main-nav .navigation {
    display: none;
  }
  .main-nav .nav-dropdown {
    margin-left: 0;
    margin-right: 0;
  }
  .main-nav .nav-dropdown .nav-dropdown__link {
    display: none;
  }
  .main-nav .nav-dropdown .dropdown__arrow {
    display: none;
  }
  .main-nav .logout {
    display: none;
  }
  .mobile-nav {
    display: none;
    position: relative;
    z-index: 2;
    width: 100%;
    left: 0px;
    bottom: 57px;
    padding: 15px 15px;
    background-color: #ffffff;
  }
  .mobile-nav .mobile-nav__wrapper {
    display: flex;
    flex-direction: column;
  }
  .mobile-nav .mobile-nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 123px;
  }
  .mobile-nav .mobile-nav__top .cross {
    color: #304960;
    font-size: 24px;
  }
  .mobile-nav .mobile-nav__top .mobile-account {
    color: #304960;
    font-size: 24px;
  }
  .mobile-nav .mobile-nav__middle {
    list-style: none;
    padding: 0px;
  }
  .mobile-nav .mobile-nav__middle:last-child {
    margin-bottom: 105px;
  }
  .mobile-nav .mobile-nav__middle .mobile-nav__item {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 26px;
    text-align: center;
  }
  .mobile-nav .mobile-nav__middle .mobile-nav__item a {
    color: #000000;
    text-decoration: none;
  }
  .mobile-nav .mobile-nav__bottom {
    text-align: center;
  }
  .mobile-nav .mobile-nav__bottom .mobile-nav__help {
    text-align: center;
    margin-bottom: 21px;
  }
  .mobile-nav .mobile-nav__bottom .mobile-nav__help a {
    text-decoration: none;
    color: #123A60;
    font-size: 14px;
    font-weight: 700;
  }
  .mobile-nav .mobile-nav__bottom .mobile__social {
    margin-bottom: 21px;
  }
  .mobile-nav .mobile-nav__bottom .mobile__social a {
    margin-right: 30px;
    color: #123A60;
    font-size: 20px;
  }
  .mobile-nav .mobile-nav__bottom .mobile__social a:last-child {
    margin-right: 0px;
  }
  .mobile-nav .mobile-nav__bottom .mobile__copyright {
    color: #B0B5B5;
    font-size: 12px;
  }
}
/*--------------------------------------------------
CONTENT BLOCK
---------------------------------------------------- */
.content {
  padding: 40px 10px 0 10px;
}
.content .content__wrapper {
  min-height: 345px;
  margin-bottom: 25px;
}
.content .content-image {
  min-width: 44.3%;
  margin-right: 30px;
  margin-top: 10px;
  float: left;
  box-shadow: 0 22px 40px -30px rgba(5, 24, 17, 0.98);
  border-radius: 5px;
}
.content .content__title {
  color: #38526A;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}
.content .content__description {
  color: #4D4D4D;
  font-size: 16px;
  line-height: 24px;
}
.content .content__description--bottom {
  margin: 0 auto;
  text-align: center;
  max-width: 65%;
  margin-bottom: 17px;
}
.content .copyright {
  font-size: 12px;
  font-weight: 700;
  color: #b0b5b5;
  text-align: center;
}
@media screen and (max-width: 860px) {
  .content {
    padding: 0px 15px;
  }
  .content .content-image {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    margin-right: auto;
  }
  .content .content__title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
  }
  .content .content__description {
    font-size: 14px;
    padding: 0px 15px;
  }
  .content .content__description--bottom {
    text-align: left;
    max-width: auto;
    margin: 0;
  }
}
